/* styles.css (または適切なスタイルシートファイル) */
.post-title-link  {
    text-decoration: none !important;
}

.like-btn-container {
    display: flex;
    flex-wrap: wrap; /* フレキシブな配置を設定 */
}

.like-btn {
    display: inline-block;
    margin-right: 5px;
}

.add-color {
    color: palevioletred;
}


