/* styles.css (または適切なスタイルシートファイル) */
.post-title-link  {
    text-decoration: none;
}

.like-btn-container {
    display: flex;
    flex-wrap: wrap; /* フレキシブな配置を設定 */
}

.like-btn {
    display: inline-block;
    margin-right: 5px;
}

.add-color {
    color: palevioletred;
}

.error-message {
    margin-top: 10px; /* 適切なマージンを指定してください */
    color: red; /* エラーメッセージの文字色を指定してください */
}
